# When @fortawesome/pro-* packages are needed, uncomment the next two lines
# and export FONTAWESOME_TOKEN in your shell. Free FA packages resolve from
# public npm without this redirect.
# @fortawesome:registry=https://npm.fontawesome.com/
# //npm.fontawesome.com/:_authToken=${FONTAWESOME_TOKEN}

@opensided:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
